*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
p{
    /* background-color: white; */
    color: white;
    font-size: 80px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 350px;
}